Flask==2.2.3
flask-cors==3.0.10
python-dotenv==1.0.0
google-generativeai==0.3.1
yt-dlp==2023.10.13
boto3==1.28.53
requests==2.31.0
clarifai-grpc==9.8.1
numpy==1.26.0
pillow==9.4.0
matplotlib==3.7.1
pandas==2.0.3
